* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
   
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button, input, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, blockquote, figure, pre, hr, fieldset, legend {
  overflow: wrap;
}
img, video, canvas, svg {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}